nav.container.navbar.navbar-expand-lg {
  padding: 0px;
}
nav a.active {
  background-color: white;
  text-decoration: none;
  color: black !important;
}

nav a:hover {
  background-color: white;
  text-decoration: none;
  color: black !important;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  nav .hover-lg-none a:hover {
    background: transparent !important;
    color: white !important;
  }
}
