.testimonial-slider {
  padding: 1rem;
}
.testimonial-person {
  background-color: white;
  color: black;
  box-shadow: 0px 4px 16px -4px #878787;
  border-radius: 15px;
  text-align: center;
}
.testimonial-slider .slick-slide {
  padding: 20px;
}
.testimonial-slider .slick-track {
  padding-top: 50px;
}
.testimonial-slider .testimonial-img {
  max-width: 4rem;
  display: inline-block;
  margin-top: -30px;
}
.testimonial-slider .testimonial-img > img {
  display: block;
  width: 100%;
}
.testimonial-slider .slick-list {
  padding-top: 50px;
}
.testimonial-slider .slick-next {
  display: block;
  height: 100%;
  background: transparent;
  box-shadow: -25px 0px 36px 20px white;
  z-index: 9;
}

.testimonial-slider .slick-prev {
  display: block;
  height: 100%;
  background: transparent;
  box-shadow: 25px 0px 36px 20px white;
  z-index: 9;
}

.testimonial-slider button.slick-arrow.slick-next::before {
  content: "\f054";
  font: normal normal normal 2rem/1 FontAwesome;
  font-size: 2rem;
  color: grey;
}
.testimonial-slider button.slick-arrow.slick-prev::before {
  content: "\f053";
  font: normal normal normal 2rem/1 FontAwesome;
  font-size: 2rem;
  color: grey;
}
.testimonial-person {
  color: grey;
}
