/* .icon-image > img {
    display: block;
    width: 100%;
    border: 1px solid rgb(172, 168, 168);
  } */
.category-page-banner {
  min-height: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
